h1 {
    font-size: 40px;
    color: black;
    margin-bottom: 20px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.search-bar {
    width: 40%;
    height: 40px;
    padding: 8px 12px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #ff0000;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #272727;
}

.search-btn,
.more-btn {
    padding: 10px 20px;
    border-radius: 25px;
    background-color: black;
    color: aqua;
    font-weight: bold;
    font-size: 18px;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}