#product .product{
    text-align: center;
}
#product .product-header{
    color: var(--font-color-2);
    padding: 32px 0;
    margin-bottom: 16px;
    border-bottom: 2px solid var(--border-color-2);
}
#product .product-header h3{
color: var(--font-color-1);
}
#product .product-header h6{
    font-weight: 400;
}
#product .product-header p{
    margin: 32px 0;
}
#product .product-header button{
    width: 100%;
    max-width: 160px;
    font-size: 15px;
    border-radius: var(--bs-border-radius-pill);
    margin: 2px auto;
    display: block;
}
#product .product-header a{
    font-size: 14px;
}
#product .product-feature :not(:first-child){
    margin-top: 24px;
}
#product .product-feature i{
font-size: 32px;
margin-bottom: 8px;
display: block;
}
#product .product-feature p{
    margin: 4px 0;
    font-size: 15px;
}


